@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@media (max-width: 425px) {
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0 35px 0;
        background-color: var(--violet-color);
        background-image: url(/src/images/bg-mobile.svg);
        background-position: top;
        background-repeat: no-repeat;
    }
    
    header {
        display: flex;
        flex-direction: column;
    }
    
    header .logo{
        max-width: 120px;
        margin-top: 40px;
        margin-bottom: 53px;
    }
    
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        padding-bottom: 20px;
    }
    
    h5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        padding-bottom: 20px;
    }
    
    main {
        text-align: center;
        margin: 10px 10px;
        color: #ffffff;
        padding: 0 5px;
        padding-top: 30px;
    }
    
    main button {
        font-family: 'Open Sans', sans-serif;
        color: var(--violet-color);
        margin-bottom: 50px;
        padding: 10px 70px;
        background-color: #ffffff;
        border-radius: 30px;
        border-style: none;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    }
    
    footer {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 10px;
    }
    
    footer img:not(:first-child){
        margin-left: 10px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 35px 0;
    background-color: var(--violet-color);
    background-image: url(/src/images/bg-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: column;
}

header .logo{
    max-width: 120px;
    margin-top: 40px;
    margin-bottom: 53px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}

main {
    text-align: center;
    margin: 10px 10px;
    color: #ffffff;
    padding: 0 5px;
    padding-top: 30px;
}

main button {
    font-family: 'Open Sans', sans-serif;
    color: var(--violet-color);
    margin-bottom: 50px;
    padding: 10px 70px;
    background-color: #ffffff;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

footer {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

footer img:not(:first-child){
    margin-left: 10px;
}