@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@media (max-width: 425px) {
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0 35px 0;
        background-color: var(--violet-color);
        background-image: url(/src/images/bg-mobile.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    header {
        display: flex;
        flex-direction: column;
    }
    
    header .logo{
        max-width: 120px;
        margin-top: 40px;
        margin-bottom: 53px;
    }
    
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        padding-bottom: 20px;
    }
    
    h5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        padding-bottom: 20px;
    }
    
    main {
        text-align: center;
        margin: 10px 10px;
        color: #ffffff;
        padding: 0 5px;
        padding-top: 30px;
    }
    
    main button {
        font-family: 'Open Sans', sans-serif;
        color: var(--violet-color);
        margin-bottom: 50px;
        padding: 10px 70px;
        background-color: #ffffff;
        border-radius: 30px;
        border-style: none;
        box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    }
    
    footer {
        color: #ffffff;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 20px;
        padding-bottom: 10px;
    }
    
    footer img:not(:first-child){
        margin-left: 10px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 35px 0;
    background-color: var(--violet-color);
    background-image: url(/src/images/bg-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-direction: column;
}

header .logo{
    max-width: 120px;
    margin-top: 40px;
    margin-bottom: 53px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
}

main {
    text-align: center;
    margin: 10px 10px;
    color: #ffffff;
    padding: 0 5px;
    padding-top: 30px;
}

main button {
    font-family: 'Open Sans', sans-serif;
    color: var(--violet-color);
    margin-bottom: 50px;
    padding: 10px 70px;
    background-color: #ffffff;
    border-radius: 30px;
    border-style: none;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

footer {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}

footer img:not(:first-child){
    margin-left: 10px;
}

@media (min-width: 1024px) {

    body {
        /* padding: 20px 0px 20px 0px; */
        background-image: url(/src/images/bg-desktop.svg);
        background-position: top;   
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        text-align: justify;
    }

    .header-main-wrapper {
        display: flex;
        align-items: center;
    }
    
    header .logo{
        max-width: 240px;
        margin-top: 40px;
        margin-bottom: 53px;
    }

    header .huddle-mockup {
        height: auto;
        max-width: 50vw;
    }

    .header-main-wrapper {
        padding: 0 3vh 0 3vh;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    main {
        text-align: left;
        font-size: 1.8vw;
        padding-top: 13vw;
    }

    main h5 {
        font-size: 1.8vh;
    }

    button {
        /* display: block; */
        block-size: 5vh;
        font-size: 1.8vh;
    }

    footer {
        display: flex;
        align-items: end;
        margin-top: auto;
    }

}